* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}
/*
orange: FF5733;
red: C70039;
purple/red: 900C3F;
purple: 511845;
*/
body {
  background-color: #FF5733;
}

button {
  background-color: #C70039; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vh;
  background-color: white;
  font-size: 60px;
}

.app {
  display: flex wrap;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 60vw;
  background-color: white ;
  border-radius: 10px;
}

.result-app {
  display: flex wrap;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

textarea {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: 60vh;
  border: 0px solid  #900C3F;
  outline: none;
  resize: none;
  border-radius: 10px;
}

.translate {
  text-align: center;
  margin-top: 10px;
}
